html(lang='en')
	head
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Playfair+Display:700italic",  rel="stylesheet")
		link(href="/css/main.css", rel="stylesheet")
	body
		#contact
			h4#Logout: a(href='Logout') Logout
			<br />
			h3 Where are you traveling?
			input#nameInput(type='text', placeholder='Name')
			input#locationInput(type='text', placeholder='Location')
			input#contactInput(type='text', placeholder='Contact')
			h4 Arrival
			input#startDateInput(type='date')
			h4 Departure
			input#endDateInput(type='date')
			input#submit(type='submit', value='Submit')
			<br />
			<br />
			h3 Settings
			form(action="/notify" method="post")
				h4 What is your home city and country?
				input#addressInput(type='text', placeholder='Chicago, Illinois, United States', name='address')
				h4 Would you like emails when travelers are in your area?
				select(name='notify')
					option(value='Yes') Yes
					option(value='No') No
				<br />
				input#settingsSubmit(type='submit', value='Submit')
		#map
		script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
		script(src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer.js")
		script#firebase(src="firebase.js" url="#{firebaseUrl}")
		script(type="text/javascript").
			$(document).ready(function() {
				function loadScript(src,callback){
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.onload=callback;
					document.getElementsByTagName("head")[0].appendChild(script);
					script.src = src;
					script.setAttribute('async', '');
					script.setAttribute('defer', '');
				};
				loadScript('https://maps.googleapis.com/maps/api/js?v=3.exp&key=#{apiKey}+&libraries=visualization&callback=initMap',function(){console.log('weee');});
			});
  
if auth
		script(src="populated_map.js")
else
		script(src="map.js")
