html(lang='en')
	head
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Playfair+Display:700italic",  rel="stylesheet")
		link(href="/css/main.css", rel="stylesheet")
	body
		#login
			h3 Login to connect with other lady digital nomads
			form(action="/login" method="post")
				input#emailInput(type='text', placeholder='Email', name='email')
				input#passwordInput(type='password', placeholder='Password', name='password')
				input#submit(type='submit', value='Submit')
			h4 Don't have an account? 
			h4: a(href='/signup') Sign up!
			<br />
			h4 Forgot your password?
			h4: a(href='/reset') Reset password!
		#map
		script(src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
		script(src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0.2/src/markerclusterer.js")
		script(type="text/javascript").
			$(document).ready(function() {
				function loadScript(src,callback){
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.onload=callback;
					document.getElementsByTagName("head")[0].appendChild(script);
					script.src = src;
					script.setAttribute('async', '');
					script.setAttribute('defer', '');
				};
				loadScript('https://maps.googleapis.com/maps/api/js?v=3.exp&key=#{apiKey}+&libraries=visualization&callback=initMap',function(){console.log('weee');});
			});

		script(src="map.js")
